pkgbase = omarchy-stickynote
	pkgdesc = Native GTK4 sticky-note checklist for Omarchy and Hyprland
	pkgver = 1.0.5
	pkgrel = 1
	url = https://github.com/Christopher-Moreira/omarchy-stickynote
	arch = any
	license = MIT
	depends = gtk4
	depends = python
	depends = python-gobject
	depends = procps-ng
	optdepends = uwsm: launch the app in a managed Wayland session
	optdepends = waybar: show the pending-note counter
	optdepends = walker: find Sticky Notes through the application launcher
	source = omarchy-stickynote-1.0.5.tar.gz::https://github.com/Christopher-Moreira/omarchy-stickynote/releases/download/v1.0.5/omarchy-stickynote-1.0.5.tar.gz
	sha256sums = ffa86bcc61a7ffbe58053ce9827c4454badff0d0b321730defdb418218253d8b

pkgname = omarchy-stickynote
